@tailwind base;
@tailwind components;
@tailwind utilities;

.text-center {
    text-align: center;
}

.w-16 {
    width: 4rem;
}

.hidden {
    display: none;
}

.header-bar {
    /* min-width: 460px; */
}

.content {
}

.q-card {
    /* width: 570px; */
    /* min-height: 250px; */
}
