@tailwind base;
@tailwind components;
@tailwind utilities;

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.bottom-5 {
    bottom: 1.25rem;
}

.right-0 {
    right: 0px;
}

.mr-2 {
    margin-right: 0.5rem;
}

.mt-2 {
    margin-top: 0.5rem;
}

.mr-3 {
    margin-right: 0.75rem;
}

.block {
    display: block;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.h-full {
    height: 100%;
}

.h-screen {
    height: 100vh;
}

.h-5 {
    height: 1.25rem;
}

.w-full {
    width: 100%;
}

.w-5 {
    width: 1.25rem;
}

.flex-auto {
    flex: 1 1 auto;
}

.flex-none {
    flex: none;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.animate-spin {
    animation: spin 1s linear infinite;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.gap-3 {
    gap: 0.75rem;
}

.gap-y-2 {
    row-gap: 0.5rem;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-y-scroll {
    overflow-y: scroll;
}

.rounded-md {
    border-radius: 0.375rem;
}

.rounded-t-md {
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
}

.bg-red-300 {
    --tw-bg-opacity: 1;
    background-color: rgb(252 165 165 / var(--tw-bg-opacity));
}

.bg-slate-300 {
    --tw-bg-opacity: 1;
    background-color: rgb(203 213 225 / var(--tw-bg-opacity));
}
.inline-block {
    display: inline-block;
}
.bg-red-900 {
    --tw-bg-opacity: 1;
    background-color: rgb(127 29 29 / var(--tw-bg-opacity));
}
.inline {
    display: inline;
}
.opacity-60 {
    opacity: 0.6;
}
.mt-1 {
    margin-top: 0.25rem;
}
.font-semibold {
    font-weight: 600;
}
.text-green-400 {
    --tw-text-opacity: 1;
    color: rgb(74 222 128 / var(--tw-text-opacity));
}
.gap-y-5 {
    row-gap: 1.25rem;
}
.text-slate-900 {
    --tw-text-opacity: 1;
    color: rgb(15 23 42 / var(--tw-text-opacity)) !important;
}

.bg-slate-400 {
    --tw-bg-opacity: 1;
    background-color: rgb(148 163 184 / var(--tw-bg-opacity));
}
.text-slate-700 {
    --tw-text-opacity: 1;
    color: rgb(51 65 85 / var(--tw-text-opacity));
}
.duration-150 {
    transition-duration: 150ms;
}
.hover\:bg-slate-500:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(100 116 139 / var(--tw-bg-opacity));
}
.hover\:text-slate-200:hover {
    --tw-text-opacity: 1;
    color: rgb(226 232 240 / var(--tw-text-opacity));
}

.bg-slate-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(100 116 139 / var(--tw-bg-opacity));
}

.bg-zinc-700 {
    --tw-bg-opacity: 1;
    background-color: rgb(63 63 70 / var(--tw-bg-opacity));
}

.bg-indigo-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(99 102 241 / var(--tw-bg-opacity));
}

.p-2 {
    padding: 0.5rem;
}

.p-3 {
    padding: 0.75rem;
}

.px-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.py-1\.5 {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
}

.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.pr-5 {
    padding-right: 1.25rem;
}

.text-right {
    text-align: right;
}

.text-slate-100 {
    --tw-text-opacity: 1;
    color: rgb(241 245 249 / var(--tw-text-opacity));
}

.text-stone-200 {
    --tw-text-opacity: 1;
    color: rgb(231 229 228 / var(--tw-text-opacity));
}

.transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.duration-300 {
    transition-duration: 300ms;
}

.ease-in-out {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.text-center {
    text-align: center;
}

.cursor-pointer {
    cursor: pointer;
}
.mb-1 {
    margin-bottom: 0.25rem;
}
.mb-2 {
    margin-bottom: 0.5rem;
}
.mb-0\.5 {
    margin-bottom: 0.125rem;
}
.border-2 {
    border-width: 2px;
}

.p-2 {
    padding: 0.5rem;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.items-center {
    align-items: center;
}
.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}

.gap-x-3 {
    -moz-column-gap: 0.75rem;
    column-gap: 0.75rem;
}

.rounded-md {
    border-radius: 0.375rem;
}

.bg-slate-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(100 116 139 / var(--tw-bg-opacity));
}

.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.text-stone-200 {
    --tw-text-opacity: 1;
    color: rgb(231 229 228 / var(--tw-text-opacity));
}

.w-16 {
    width: 4rem;
}

.hidden {
    display: none;
}

.question-number-input {
    width: 150px;
}

.border-red-800 {
    --tw-border-opacity: 1;
    border-color: rgb(153 27 27 / var(--tw-border-opacity));
}

.passive {
    transform: translateX(101%);
    bottom: 20px;
    right: 0px;
}

.active {
    transform: translateX(-2%);
}

@media (min-width: 1280px) {
    .xl\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

.text-center {
    text-align: center;
}

.cursor-pointer {
    cursor: pointer;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.border-2 {
    border-width: 2px;
}

.p-2 {
    padding: 0.5rem;
}
.mb-2 {
    margin-bottom: 0.5rem;
}
.flex {
    display: flex;
}
.flex-row {
    flex-direction: row;
}
.items-center {
    align-items: center;
}
.gap-x-3 {
    -moz-column-gap: 0.75rem;
    column-gap: 0.75rem;
}
.rounded-md {
    border-radius: 0.375rem;
}
.bg-slate-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(100 116 139 / var(--tw-bg-opacity));
}
.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.text-stone-200 {
    --tw-text-opacity: 1;
    color: rgb(231 229 228 / var(--tw-text-opacity));
}

.m-1 {
    margin: 0.25rem;
}

.my-1 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}
.my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.w-16 {
    width: 4rem;
}

.hidden {
    display: none;
}

.font-thin {
    font-weight: 100;
}

.question-number-input {
    width: 150px;
}

.border-red-800 {
    --tw-border-opacity: 1;
    border-color: rgb(153 27 27 / var(--tw-border-opacity));
}

.opacity-70 {
    opacity: 0.7;
}

.pointer-events-none {
    pointer-events: none;
}

.message-box.passive {
    transform: translateX(101%);
    bottom: 20px;
    right: 0px;
}

.message-box.active {
    transform: translateX(-2%);
}

.question-box {
    transition: all 150ms ease-in-out;
}

.question-box.false {
    filter: brightness(90%);
    background: #a84448;
    color: #eeeeee;
    pointer-events: none;
}

.question-box.true {
    filter: brightness(90%);
    background: #539165;
    color: #eeeeee;
    pointer-events: none;
}

.question-box.result-visible {
    filter: brightness(90%);
    background: #2c3333;
    color: #eeeeee;
    pointer-events: none;
}

.reply-button.false,
.reply-button.true {
    display: none !important;
}

.user-answer.false,
.user-answer.true {
    background: transparent;
    color: #eeeeee !important;
    margin: 0.25rem 0;
    padding: 0 !important;
}
